.navbar_body {
    height: 4rem;
    background-color: var(--color1);
    border-bottom: 5px solid var(--color3);
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar_links {
    margin: auto;
}

.navbar_links ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
}

.navbar_links li {
    margin: 0;
    padding: 10px;
}

.navbar_body a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar_links a:hover {
    color: var(--color3);
    border-bottom: 0.2rem solid var(--color3);
}