:root {
    --color1: #303841;
    --color2: #3A4750;
    --color3: #EA9215;
    --color4: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

body{
    background-color: var(--color2);
}

.main {
    padding-top: 4rem;
}