.container
{
    margin: auto;
    padding: 0rem;
    max-width: 1200px;
}

.header {
    color: var(--color3);
    text-align: center;
    text-shadow: 0 0 10px var(--color4);
    -webkit-text-stroke: 0.1px var(--color1)
}

.profile_text {
    color: var(--color1);
    max-width: 900px;
}

.cv_left {
    padding: 10px;
    width: 300px;
    background-color: var(--color1);
    
}

.cv_right {
    padding: 10px;
    width: 900px;
    background-color: var(--color4);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.break_line {
    color: var(--color4);
    margin: 10px 0;
}